@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 2000;
    background: linear-gradient(to left, #070B17,#0C1729, #253F72);
}

h1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    margin-left: 0;
    text-align: left;
    font-family: 'Shadows Into Light', cursive;
    background: linear-gradient(90deg, #b908c9, #f4f4ff);
    background-clip: text;
    -webkit-background-clip:text;
    color: transparent;
    margin-top: 15px;
    font-size: 50px;
    padding-left: 210px;
}

#imagem {
    border-radius: 50%;
    width: 100px;
    border: 3px solid #3d393f;
    position: absolute;
    left: 40px;
    top: 30px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    margin-top: 0;
}

header {
    font-family: 'Titillium Web', sans-serif;
    background: linear-gradient(90deg, #b908c97a, #4c1c588c);
}

.menu {
    width: 50%;
    margin-top: 25px;
}

.menu nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 50px;
    font-size: 20px;
    padding-bottom: 15px;
}

